.gform_wrapper{
  --vf-lightgray: rgb(246, 247, 251 );
  --vf-darkgray: rgb( 27, 32, 43 );
  --vf-green:  rgb( 91, 200, 154 );
  --vf-green-dark: rgb( 85, 183, 142 );

  font-family: "Montserrat", Helvetica, sans-serif;
}

.gform_wrapper.gravity-theme .vehicle-rental-form .gform_fields{
  grid-row-gap: 0px;
}

.vehicle-rental-form{
	width: 100%;
	margin: 0 auto;
	max-width: 750px;
}

/* General Inputs */
.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme select {
  color: var(--light-gray);
  width: 100%;
  font-size: 16px;
  line-height: 2em;
  height: auto;
  display: block;
  background: #fff;
  border: 1px solid rgb( 221, 224, 229 );
  border-radius: 24px;
  font-family: "Montserrat", helvetica, sans-serif;
  padding: 8px 16px;
}

.gform_wrapper.gravity-theme input[readonly]{
  background: var(--vf-lightgray);
}

.gform_wrapper.gravity-theme .gfield_label{
  font-size: 24px;
  color: var(--vf-darkgray);
}

.gform_wrapper .gfield_label,
.gform_wrapper .vehicle-rental-form .ginput_container label{
  font-family: "Montserrat", helvetica, sans-serif;
}

.vf-your-data-field{
  padding: 32px 32px 0 32px;
  border-top: 1px solid rgb( 221, 224, 229 );
  border-left: 1px solid rgb( 221, 224, 229 );
  border-right: 1px solid rgb( 221, 224, 229 );
  border-radius: 32px 32px 0 0;
}

.vehicle-rental-form .vf-your-data-field h3{ 
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}

.gform_wrapper.gravity-theme .vf-name-field,
.gform_wrapper.gravity-theme .vf-email-field{
  padding: 0 32px;
  border-left: 1px solid rgb( 221, 224, 229 );
  border-right: 1px solid rgb( 221, 224, 229 );
}

.gform_wrapper.gravity-theme .vf-checkbox-field{
  padding: 0 32px 32px;
  border-left: 1px solid rgb( 221, 224, 229 );
  border-right: 1px solid rgb( 221, 224, 229 );
  border-bottom: 1px solid rgb( 221, 224, 229 );
  border-radius: 0 0 32px 32px;
  padding-top: 24px;
}

.gform_wrapper.gravity-theme .vf-checkbox-field input[type=checkbox] + label{
  position: relative;
  left: 50px;
}

.gform_wrapper.gravity-theme .vf-checkbox-field input[type=checkbox] + label:before{
  position: absolute;
  content: '';
  right: calc( 100% + 10px );
  top: 1px;
  width: 40px;
  height: 22px;
  background: rgb( 146, 152, 160);
  border-radius: 10px;
}

.gform_wrapper.gravity-theme .vf-checkbox-field input[type=checkbox] + label:after{
  position: absolute;
  content: '';
  right: calc( 100% + 31px );
  top: 4px;
  background: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: .4s all ease;
}

.gform_wrapper.gravity-theme .vf-checkbox-field .gchoice{
  margin-bottom: 8px;
}

.gform_wrapper.gravity-theme .vf-checkbox-field input[type=checkbox]:checked + label:before{
  background: var(--vf-green);
}

.gform_wrapper.gravity-theme .vf-checkbox-field input[type=checkbox]:checked + label:after{
  right: calc( 100% + 14px );
}

.gform_wrapper.gravity-theme .vf-checkbox-field input[type=checkbox]{
  clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 1px;
} 

.gform_wrapper.gravity-theme .vf-name-field .ginput_complex label,
.gform_wrapper.gravity-theme .vf-email-field .gfield_label{
  color: var(--vf-darkgray);
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin: 24px 0 8px;
}

.gform_wrapper.gravity-theme .vf-name-field input[type=text],
.gform_wrapper.gravity-theme .vf-email-field input[type=email]{
  font-size: 14px;
}

/* Date Field */

.gform_wrapper .vehicle-date-range{
  background: rgb( 247, 248, 249 );
  border-radius: 5px;
}

.gform_wrapper .vehicle-date-range div {
  color: var(--gray);
  text-align: center;
  padding: 6px 0;
}

/* Validation */

.vehicle-rental-form input[type=submit]{
  background: var(--vf-green);
  color: #fff;
  padding: 8px 18px;
  border: 1px solid transparent;
  font-size: 1.125em;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s all ease;
  box-shadow: 3px 3px 5px rgba(0,0,0,.2);
}

.vehicle-rental-form input[type=submit]:hover,
.vehicle-rental-form input[type=submit]:focus{
  background: var(--vf-green-dark);
  color: #fff;
  border: 1px solid var(--vf-green);
  background: #fff;
  color: var(--vf-green-dark);
  box-shadow: none;
}

/* Invoice Fields */
.gform_wrapper.gravity-theme .vf-invoice-header{
	padding: 32px 32px 0;
	border-top: 1px solid rgb( 221, 224, 229 );
  border-left: 1px solid rgb( 221, 224, 229 );
  border-right: 1px solid rgb( 221, 224, 229 );
  border-radius: 32px 32px 0 0;
	margin: 24px 0 0;
}

.gform_wrapper.gravity-theme .vf-invoice-header h2{
	font-size: 24px;
	font-family: "Montserrat", helvetica, sans-serif;
}

.gform_wrapper.gravity-theme .vf-invoice-name{
  padding: 16px 32px;
	border-left: 1px solid rgb( 221, 224, 229 );
  border-right: 1px solid rgb( 221, 224, 229 );
}

.gform_wrapper.gravity-theme .vehicle-rental-form .vf-invoice-name legend,
.gform_wrapper.gravity-theme .vehicle-rental-form .vf-invoice-address legend{
	float: left; 
}

.gform_wrapper.gravity-theme  .vehicle-rental-form .ginput_container{
	clear: both;
}

.gform_wrapper.gravity-theme .vf-invoice-company{
	padding: 16px 32px 0px;
}
	
.gform_wrapper.gravity-theme .vf-invoice-company,
.gform_wrapper.gravity-theme .vf-invoice-address{
  border-left: 1px solid rgb( 221, 224, 229 );
  border-right: 1px solid rgb( 221, 224, 229 );
}

.gform_wrapper.gravity-theme .vf-invoice-address{
  border-bottom: 1px solid rgb( 221, 224, 229 );
  border-radius: 0 0 32px 32px;
	padding: 16px 32px 32px
}

.vehicle-rental-form .vf-invoice-name .gfield_label,
.vehicle-rental-form .vf-invoice-address .gfield_label,
.vehicle-rental-form .vf-invoice-company .gfield_label{
	font-size: 18px;
}