.gfield--type-pricing-plan{
  font-size: 16px;
  margin-bottom: 16px;
}

.gform_wrapper.gravity-theme .gfield--type-pricing-plan .gfield_label{
  font-size: 18px;
}

.gfield--type-pricing-plan .plans-field-plan,
.gfield--type-cart_and_terms .plans-field-plan {
  display: flex;
  flex-flow: row nowrap;
  margin: 16px 0;
  padding: 32px;
  color: var(--vf-darkgray);
  border-radius: 32px;
  transition: .4s all ease;
  border: 1px solid #e8e8e9;
}

.gfield--type-pricing-plan .plans-field-plan.selected{
  border-color: var(--vf-green-dark);
}

.gfield--type-pricing-plan .price-container,
.gfield--type-cart_and_terms .price-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--vf-lightgray);
  min-width: 150px;
  min-height: 150px;
  border-radius: 25px;
}

.gfield--type-pricing-plan .plans-field-plan.selected .price-container{
  background: #fff;
}

.gfield--type-pricing-plan .price-container p,
.gfield--type-cart_and_terms .price-container p{
  font-weight: 700;
  color: var(--vf-darkgray);
  font-size: 20px;
  white-space: nowrap;
  margin: 0;
}


.gfield--type-pricing-plan .info-container,
.gfield--type-cart_and_terms .info-container{
  display: flex;
  flex-flow: column nowrap;
  margin-left: 32px;
}

.gfield--type-pricing-plan .plans-field-plan.selected{
  color: #fff;
  background: var(--vf-green);
}

.gfield--type-pricing-plan h2,
.gfield--type-cart_and_terms h2{
  font-size: 22px;
  font-weight: 700;
  color: var(--vf-darkgray);
  margin: 0 0 .67em 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.gfield--type-pricing-plan .plans-field-plan.selected h2{
  color: #fff;
}

.gfield--type-pricing-plan .info-container p,
.gfield--type-cart_and_terms .info-container p{
  flex: 1;
}

.gfield--type-pricing-plan button{
  display: block;
  padding: 12px 40px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 21px;
  color: #fff;
  background: var(--vf-green);
  border: 0;
  cursor: pointer;
  white-space: nowrap;
}

.gfield--type-pricing-plan button:hover,
.gfield--type-pricing-plan button:focus{
  background: var(--vf-green-dark);
}

.gfield--type-pricing-plan .plans-field-plan.selected button{
  background: #fff;
  color: var(--vf-darkgray);
}

@media all and ( max-width: 600px ){
  .gfield--type-pricing-plan{
    font-size: 14px;
  }

  .gfield--type-pricing-plan .plans-field-plan{
    padding: 16px;
    border-radius: 24px;
  }

  .gfield--type-pricing-plan .price-container{
    min-width: auto;
    min-height: auto;
    padding: 0 16px;
    border-radius: 16px;
  }

  .gfield--type-pricing-plan .price-container p{
    font-size: 16px;
  }

  .gfield--type-pricing-plan .info-container{
    margin-left: 16px;
  }

  .gfield--type-pricing-plan h2{
    font-size: 18px;
  }

  .gfield--type-pricing-plan button{
    margin-top: 12px;
    padding: 12px 16px;
  }
  
}